<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- External -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Raleway:400,800&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/global.css" />

    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <a href="/"><div class="nav__logo"><img src="../img/TGH_Header_Logo.png" width="100%" height="auto"/></div></a>
      <div class="nav__items">
        <a href="/about"><div class="nav__item">About Us</div></a>
        <a href="/team"><div class="nav__item">Meet The Team</div></a>
        <a href="/join"><div class="nav__item">Get Involved</div></a>
        <a href="/timmytimes"><div class="nav__item">Timmytimes</div></a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
