<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- External -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Raleway:400,800&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/global.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

    <script type="text/javascript">
      function showDropdown(ele) {
        const dropdown = ele.childNodes[1]; // child node 0 is nav text
        dropdown.style.display = "block";
      }
      function hideDropdown(ele) {
        const dropdown = ele.childNodes[1]; // child node 0 is nav text
        dropdown.style.display = "none";
      }
      function showMobile(ele) {
        const wrapper = document.getElementById('mobile_nav__wrapper');
        wrapper.style.display = "block";
      }
      function hideMobile() {
        const wrapper = document.getElementById('mobile_nav__wrapper');
        wrapper.style.display = "none";
      }
    </script>
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <a href="/"><div class="nav__logo"><img src="../img/timmy_purdue.png" width="100%" height="auto" style="margin-top: 16px"/></div></a>
      <div class="nav__items">
        <a href="/about"><div class="nav__item">About Us</div></a>
        <a href="/what_we_do/fundraising">
          <div class="nav__item" id="nav__item-what_we_do" onmouseover="showDropdown(this)" onmouseout="hideDropdown(this)">
            <span>What We Do<span>
            <ul class="nav__item_dropdown" id="nav__item_dropdown-what_we_do">
              <li><a href="/what_we_do/fundraising">Fundraising</a></li>
              <li><a href="/what_we_do/advocacy">Advocacy</a></li>
              <li><a href="/what_we_do/service">Service</a></li>
            </ul>
          </div>
        </a>
        <a href="/team"><div class="nav__item">Meet The Team</div></a>
        <a href="/join"><div class="nav__item">Get Involved</div></a>
        <a href="/timmytimes"><div class="nav__item">Timmytimes</div></a>
      </div>
      <div class="mobile_nav">
        <div class="mobile_nav__hamburger" onclick="showMobile(this)">☰</div>
        <div id="mobile_nav__wrapper">
          <div class="mobile_nav__overlay" onclick="hideMobile(this)"></div>
          <div class="mobile_nav__menu">
            <ul>
              <li><a href="/about">About Us</a></li>
              <li>What We Do</li>
              <ul>
                <li><a href="/what_we_do/fundraising">Fundraising</a></li>
                <li><a href="/what_we_do/advocacy">Advocacy</a></li>
                <li><a href="/what_we_do/service">Service</a></li>
              </ul>
              <li><a href="/team">Meet The Team</a></li>
              <li><a href="/join">Get Involved</a></li>
              <li><a href="/timmytimes">Timmytimes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>
