<header class="page__header">
</header>
<div class="page__title">
  <h1>Welcome to Purdue University Timmy Global Health</h1>
</div>
<div class="page__content">
  <section>
    <p>{{ main }}</p>
  </section>
  <div id="gallery"></div>
</div>
<script>
(function() {
  const images = JSON.parse(decodeURIComponent("{{{images}}}"));
  const gal = document.getElementById('gallery');
  const imageMap = images.map((img) => {
    if (window.location.href.includes('local')) {
      return 'http://localhost:5000/assets/about/' + img;
    } else {
      return 'http://purduetimmy.com/assets/about/' + img;
    }
  })

  console.log(images, imageMap);

  for(let i = 0; i < images.length; i++) {
    let img = document.createElement("img");
    img.src = imageMap[i];
    img.style = "width: 100%; margin-bottom: 16px";
    gal.appendChild(img);
  }
})()
</script>
