<header class="page__header">
</header>
<div class="page__title">
  <h1>Welcome to Purdue University Timmy Global Health</h1>
</div>
<div class="page__content">
  <section>
    <p>{{ main }}</p>
  </section>
</div>
