<header class="home__header">
  <div class="home__header_content_wrapper">
    <div class="home__header_content">
      <h1>A Global Mission</h1>
      <h2>Delivering the promise of healthy futures.</h2>
      <a href="/join"><div class="home__header_cta">Join Us</div></a>
    </div>
  </div>
</header>

home
