<header class="page__header">
</header>
<div class="page__title">
  <h1>Get Involved</h1>
</div>
<div class="page__content">
  <section>
    <h2>Our Events</h2>
    <div class="join__calendar">
      <iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZGQ4N2tibzY1cWc1bjlzOGR1aGk0czJnc29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23C0CA33&amp;color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </section>
  <section class="join__contact">
    <h2>Contact Us</h2>
    <form action="https://formspree.io/timmy@purdue.edu" method="POST">
      <div class="join__contact_label">Your Name</div>
      <input type="text" name="name" placeholder="John Appleseed">
      <div class="join__contact_label">Your Email</div>
      <input type="email" name="_replyto" placeholder="example@example.com">
      <div class="join__contact_label">Your Message</div>
      <textarea name="message" placeholder="I'd love to join!"></textarea>
      <input type="submit" value="Send" class="join__contact_submit">
    </form>
  </section>
</div>
