<header class="page__header">
</header>
<div class="page__title">
  <h1>Our Team</h1>
</div>
<div class="page__content">
  {{#each team}}
    <section class="team__person">
      <div class="team__person_picture">
        <img src="{{this.picture}}">
      </div>
      <div class="team__person_about">
        <div class="team__person_title">
          <span class="team__person_name">{{this.name}}</span> - {{this.title}}
        </div>
        <p class="team__person_description">{{this.description}}</p>
      </div>
    </section>
  {{/each}}
</div>
