<header class="page__header">
</header>
<div class="page__title">
  <h1>Advocacy</h1>
</div>
<div class="page__content">
  <section>
    <p>
      “The Advocacy branch acts as a first point of contanct with Purdue University Timmy Global Health through maintenance of social media pages, merchandise, advertisements, and putting on a series of advocacy-related events calling attention to our efforts locally and abroad through the arts and various forms of representation, generating a sense of community, and developing new ways to garner the attention of difference-makers.”
Feature Clare and ExComm members

    </p>
  </section>
</div>
