<header class="page__header">
</header>
<div class="page__title">
  <h1>Fundraising</h1>
</div>
<div class="page__content">
  <section>
    <p>
      “The Fundraising branch at Purdue University Timmy Global Health works to maintain finances and donations within the organization through coordination with Purdue University and Timmy headquarters in Indianapolis, organize give-backs and partnerships with local business, maintain and monitor the budget, and tend to any and all fiscal needs that may arise.”
Feature Ashley and ExComm members

    </p>
  </section>
</div>
