body {
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6em;
}

/* NAV */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #FFFFFF;
  height: 90px;
  align-items: center;
}
.nav__logo {
  font-size: 18px;
  margin: 0 16px;
  color: #FFFFFF;
  font-weight: bold;
}
.nav__items {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.nav__item {
  padding: 0 8px;
  margin: 0 8px;
  color: #FFFFFF;
  letter-spacing: .5px;
}

/* HOME */
.home__header {
  background: url('../img/group.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
}
.home__header::after {
  content: '';
  width: 100%;
  height: 500px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
}
.home__header_content_wrapper {
  margin: auto;
}
.home__header_content {
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  text-align: center;
}
.home__header_cta {
  background: #5F99E7;
  padding: 12px 18px;
  display: inline-block;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
}

/* PAGES */
.page__header {
  width: 100%;
  background: #1C163C;
  height: 90px;
}
.page__title {
  border-bottom: 2px solid #F5F4F5;
  text-align: center;
}
.page__content {
  max-width: 1000px;
  margin: auto;
  padding: 0 32px;
}

/* TEAM */
.team__person {
  display: flex;
  margin: 32px 0;
  width: 100%;
}
.team__person_about {
  margin: 0 16px;
}
.team__person_name {
  font-size: 16px;
  font-weight: bold;
}
.team__person_description {

}

/* JOIN */
.join__calendar {
  text-align: center;
  margin: 32px 0;
}
.join__contact {
  margin-bottom: 32px;
}
.join__contact_label {
  margin-top: 16px;
  margin-bottom: 8px;
}
.join__contact input[type="text"], .join__contact input[type="email"] {
    width: 100%;
    padding: 9px 12px;
}
.join__contact textarea {
  width: 100%;
  resize: none;
  height: 100px;
  padding: 9px 12px;

}
.join__contact_submit {
  padding: 12px 24px;
  border: none;
  background: #5F99E7;
  color: #FFFFFF;
  margin-top: 16px;
}
